<!-- nav container -->
<section class="fixed-top">
    <!-- navbar -->
    <nav class="z-1 position-relative">

        <!-- dropdown btn -->
        <i class="fas fa-bars fa-2x js-nav-dropdown-btn"></i>
    </nav>
    <!-- dropdown -->
    <div class="js-nav-dropdown-box hide-top opacity-0">
    </div>
</section>


<!-- loading -->
<section class="js-loading">
</section>

<!-- counter -->
<span class="js-counter"></span>

<!-- dropdown -->
<div class="js-dropdown-btn">
    <!-- span -->
    <span class="pr-1">
    </span>
    <!-- icon -->
    <i class="fas fa-caret-down"></i>

    <!-- dropdown box -->
    <div class="js-dropdown-box hide-top opacity-0">
    </div>
</div>

<!-- carousel lg -->
<section class="js-carousel-lg">
    <div class="js-slider">
    </div>

    <div class="js-prev-container">
        <i class="fas fa-chevron-left fa-2x js-prev"></i>
    </div>
    <div class="js-next-container">
        <i class="fas fa-chevron-right fa-2x js-next"></i>
    </div>

    <div class="js-pagination-container">
        <div class="js-pagination-btn"></div>
    </div>
</section>

<!-- carousel fade -->
<section class="js-carousel-fade">
    <!-- items -->
    <div class="js-item">
    </div>
    <div class="js-item d-none">
    </div>


    <!-- btns -->
    <div class="js-prev-container">
        <i class="fas fa-chevron-left fa-2x js-prev"></i>
    </div>
    <div class="js-next-container">
        <i class="fas fa-chevron-right fa-2x js-next"></i>
    </div>

    <!-- pagination -->
    <div class="js-pagination-container">
        <div class="js-pagination-btn"></div>
    </div>
</section>

<!-- carousel fade auto -->
<section class="js-carousel-fade-auto">
    <!-- items -->
    <div class="js-item">
    </div>
    <div class="js-item d-none">
    </div>
</section>

<!-- carousel -->
<div class="js-carousel ease-out-fast">

    <!-- slider container -->
    <div class="js-slider-container">

        <!-- prev btn -->
        <div class="js-btn-container position-absolute left-0 top-0 bottom-0 z-2">
            <i class="fas fa-chevron-left fa-2x js-prev py-5 px-2 bg-white border border-gray hover-opacity"></i>
        </div>

        <!-- items -->
        <div class="js-slider">

        </div>

        <!-- next btn -->
        <div class="js-btn-container position-absolute right-0 top-0 bottom-0">
            <i class="fas fa-chevron-right fa-2x js-next py-5 px-2 bg-white border border-gray hover-opacity"></i>
        </div>
    </div>

    <!-- carousel scrollbar -->
    <div class="js-scrollbar-container mt-3" style="height: 0.7rem;">
        <div class="js-scrollbar bg-gray border border-gray rounded right-0 left-0 "></div>
    </div>
</div>

<!-- zoom -->
<section class="js-zoom-box d-none opacity-0">
    <!-- close -->
    <i class="fas fa-times fa-2x js-close" title="close"></i>
    <!-- img -->
    <div class="js-img-container">
        <img src="" alt="">
    </div>
</section>
