/* display */

.bg-center {
    background-position: center;
}

.bg-bottom {
    background-position: bottom;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-cover {
    background-size: cover;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-zoom {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}

.bg-zoom:hover {
    background-size: 150% 150%;
}

/* video */

.bg-video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

/* color */

.bg-main {
    background: var(--main) !important;
}

.bg-main-dark {
    background: var(--main-dark) !important;
}

.bg-main-gradient {
    background: linear-gradient(var(--main), var(--main-dark));
}

.bg-light-transparent {
    background: var(--light-transparent) !important;
}

.bg-dark-transparent {
    background: var(--dark-transparent) !important;
}

.bg-gray {
    background: gray;
}

.bg-darkgray {
    background: rgb(70, 70, 70);
}

.bg-black {
    background: black;
}

/* hover */

.hover-bg-main:hover {
    background: var(--main) !important;
}

.hover-bg-gray:hover {
    background: gray !important;
}

.hover-bg-darkgray:hover {
    background: rgb(70, 70, 70) !important;
}

.hover-bg-white:hover {
    background: white !important;
}
