* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    color: inherit;
    transition: inherit;
}

*:focus {
    outline: 0;
}

/* inputs */

select,
input[checkbox] {
    cursor: pointer;
}

select option {
    background: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    text-transform: capitalize;
    font-size: inherit;
}

input,
textarea,
select {
    text-decoration: none !important;
    text-transform: none !important;
    border: none;
    padding: 0.5rem !important;
    font-size: inherit;
}


/* others */

body {
    min-height: 100vh;
    background: var(--bg-body);
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    font-size: inherit;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}
